{% extends "base.html" %}
<title> {% block title %} Contact us {%endblock title%} </title>

{% block content %}
<section class="contact-section">
    <div class="container">
      <h2>تواصل معنا</h2>

      <form class="contact-form">
        <label for="name">الاسم:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">البريد الإلكتروني:</label>
        <input type="email" id="email" name="email" required>

        <label for="message">رسالتك:</label>
        <textarea id="message" name="message" rows="5" required></textarea>

        <button type="submit">إرسال</button>
      </form>
    </div>
  </section>
{% endblock content %}
